<ul>
    <% animalArr.forEach(function(animal) { %>

        <li>Breed: <%= animal.breed %><br></li>
        <li>Family: <%= animal.family %><br></li>
        <li>Name: <%= animal.name %><br></li>
        <li>Gender: <%= animal.gender %><br></li>
        <li>Date: <%= animal.date %></li>
        <br><br>
    <% }) %>
</ul>
